{% extends "layout.html" %}
{% load static %}
{% block head %}
    <style>
        body {
            background-image: none !important;
            background-color: #272B30 !important;
      	}
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center" style="font-size: 1rem">
            <div class="col-lg-9 col-md-10 mt-3">
                <h3>Welcome, cutie.</h3>
                <p>Author-approved translations since 30/1/2020. One-man letterer with a couple of capable Japanese to English translators. target="_blank"</p>
                <p>Follow our Twitter for updates: <a href="https://twitter.com/HachirumiScans" target="_blank">https://twitter.com/HachirumiScans</a></p>
                <p>Join our Discord: <a href="https://discord.gg/PHgCUu9" target="_blank">https://discord.gg/PHgCUu9</a></p>
                <p>Portfolio: <a href="http://hachirumi.carrd.com/" target="_blank">http://hachirumi.carrd.com/</a></p>
            </div>
            <div class="col-lg-9 col-md-10 mt-3">
                <h3>Disclaimers</h3>
                <p>This site uses the code from <a href="https://github.com/appu1232/guyamoe">guya.moe</a> and <a href="https://github.com/milleniumbug/guyamoe">mahoushoujobu.com</a>  which is licensed as AGPL-3.0. This license requires from me to provide any modifications to this site's code publically, to all the users. <a href="https://github.com/kafkaien42/guyamoe">These changes are provided here.</a></p>
            </div>
        </div>
    </div>
{% endblock %}
