{% extends "layout.html" %}
{% load static %}
{% block head %}
    <style>
        body {
            background-image: none !important;
            background-color: #272B30 !important;
      	}
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center" style="font-size: 1rem">
            <div class="col-lg-9 col-md-10 mt-3">
                <h3>Welcome and thank you for reading!</h3>
                <p>A circle that works on random twitter and pixiv one-shots and the occasional cute manga.</p>
                <p>Follow our twitter for updates: <a href="https://twitter.com/DfLmanga">https://twitter.com/DfLmanga</a></p>
                <p>Join our discord: <a href="https://discord.gg/zExT77hT6z">https://discord.gg/zExT77hT6z</a></p>
            </div>
            <div class="col-lg-9 col-md-10 mt-3">
                <h3>Disclaimers</h3>
                <p>This site uses the code from <a href="https://github.com/appu1232/guyamoe">guya.moe</a> and <a href="https://github.com/milleniumbug/guyamoe">mahoushoujobu.com</a>  which is licensed as AGPL-3.0. This license requires from me to provide any modifications to this site's code publically, to all the users. <a href="https://github.com/kafkaien42/guyamoe">These changes are provided here.</a></p>
            </div>
        </div>
    </div>
{% endblock %}
