{% extends "layout.html" %}
{% load static %}
{% block head %}
    <style>
        body {
            background-image: none !important;
            background-color: #272B30 !important;
      	}
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid ">
        <div class="row d-flex justify-content-center" style="font-size: 1rem">
            <div class="col-lg-9 col-md-10 mt-3">
                <h3>Magical Translators</h3>
                <p>- milleniumbug</p>
                <p>- Chirichirichiri</p>
                <p>- Priestess of Athe</p>
            </div>
            <div class="col-lg-9 col-md-10 mt-3">
                <h3>Disclaimers</h3>
                <p>This site uses the code from <a href="https://github.com/appu1232/guyamoe">guya.moe</a> which is licensed as AGPL-3.0</p>
            </div>
        </div>
    </div>
{% endblock %}
