[Unit]
Description=Socket for hachi

[Socket]
ListenStream=/home/hachi/guyamoe/nginx/socket/guya.sock
SocketUser=hachi
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
