[Unit]
Description=GuyaMoe
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify
Restart=on-failure
RestartSec=2
User=milleniumbug
Environment="ALLOWED_HOSTS=mahoushoujobu.com"
ExecStart=/home/milleniumbug/mahoushoujobu/bin/uwsgi --ini /home/milleniumbug/mahoushoujobu/app/nginx/uwsgi.ini --module guyamoe.wsgi
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/home/milleniumbug/mahoushoujobu/app

[Install]
WantedBy=multi-user.target

