[Unit]
Description=GuyaMoe
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
User=milleniumbug
ExecStart=/home/milleniumbug/mahoushoujobu/app/nginx/start.sh
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/home/milleniumbug/mahoushoujobu/app

[Install]
WantedBy=multi-user.target

