[Unit]
Description=Socket for guya.moe

[Socket]
ListenStream=/home/milleniumbug/mahoushoujobu/app/nginx/socket/guya.sock
SocketUser=milleniumbug
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
